[submodule "dgraph-twitter-clone-api"]
	path = api
	url = git@github.com:GabeStah/dgraph-twitter-clone-api.git

[submodule "dgraph-twitter-clone-client"]
	path = client
	url = git@github.com:GabeStah/dgraph-twitter-clone-client.git