[submodule "dgraph-twitter-clone-api"]
	path = dgraph-twitter-clone-api
	url = https://github.com/GabeStah/dgraph-twitter-clone-api.git

[submodule "dgraph-twitter-clone-api"]
	path = dgraph-twitter-clone-api
	url = https://github.com/GabeStah/dgraph-twitter-clone-client.git