.tweet-header {
    display: flex;
}

.tweet-header ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tweet-header li {
    display: block;
    float: left;
    padding: 3px 3px
}

.tweet-header .avatar {
    float: left;
    height: 48px;
    width: 48px;
}

.tweet-header .createdAt {
    font-size: 0.75em;
}